.App {
  text-align: center;
}

.title {
    width: 90%;
    margin: 5px auto;
    padding: 10px 0;
    background-color: salmon;
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
}

.navbar {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    color: black;
    margin: 15px;
    padding: 5px;
    background-color: salmon;
    border: 1px solid red;
    border-radius: 5px;
}

.link:hover {
    background-color: lightgreen;
    border: 1px solid green;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 250px;
    margin: 15px;
    background-color: lightgreen;
    border: 5px solid green;
    border-radius: 10px;
}

.card-name {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 3px solid red;
}

.card-buttons {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
}

.input {
    line-height: 25px;
    font-size: 15px;
    margin-top: 15px;
    padding-left: 5px;
    border: 2px solid blue;
    border-radius: 5px;
}

.button {
    font-size: 20px;
    width: 100px;
    margin: 15px auto;
    padding: 5px;
    background-color: dodgerblue;
    border: 1px solid blue;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: lightgreen;
    border: 1px solid green;
}

.edit-link {
    color: black;
    text-decoration: none;
    padding: 25px;
}